.experiencia .subtitulo {
    color: #e0e0e0;
}

.experiencia-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    margin-bottom: 60px;
    max-width: 40ch;
    color: #525252;
}

.experiencia-texto strong {
    color: #141414;
}

.empresa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background: #f5f5f5;
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative;
    gap: 10px 20px;
    transition: transform 0.3s ease;
}

.empresa:hover {
    transform: scale(1.1);
}

.empresa-ano {
    position: absolute;
    top: 22px;
    left: -40px;
    color: #525252;
    font-size: .875rem;
}

.empresa::before {
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background-color: #335A91 ;
    position: absolute;
    top: 20px;
    left: -4px;
}

.empresa-titulo {
    font-size: 1.125rem;
    line-height: 1.1;
    font-weight: bold;
}

.empresa-texto {
    font-size: 0.875rem;
    line-height: 1.4;
    color: #525252;
}

.empresa-habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: start;
    
}

.empresa-habilidades li {
    font-size: .875rem;
    line-height: 1.4;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 5px 10px;
}

@media(max-width: 950px) {
        .empresa:hover {
            transform: scale(1.03);
        }

    .experiencia {
        grid-template-columns: 1fr;
        gap: 40px;
    } 

    .experiencia .subtitulo {
        color: #141414;
    }

    .experiencia-texto {
        font-size: 1.25rem;
    }

    .empresa-ano {
        position: initial;
        order: 1;
        text-align: left;
        font-weight: bold
    }

    .empresa-ano::before{
        content: "Ano: ";
    }   
}

 @media (max-width: 570px) {
    .empresa {
        grid-template-columns: 1fr
    } 

    .empresa:hover {
        transform: scale(1.05);
    }
}