.introducao {
    align-items: center;
}

.introducao-img {
    width: 480px;
    height: 480px;
    z-index: -2;
}

.introducao h1 {
    position: relative;
    font-weight: bold;
    font-size: 4.5rem;
    line-height: 1.125;
}

.introducao h1::before {
    content: '';
    width: 130px;
    height: 100px;
    display: block;
    background: url(../img/deco.svg) no-repeat center;
    position: absolute;
    top: -35px;
    left: -65px;
    opacity: unset;
    z-index: -1;
}

.introducao p {
    font-size: 1.5rem;
    color: #525252;
    margin-top: 30px;
}

@media (max-width: 1150px) {
    .introducao h1 {
        font-size: 3.20rem;
    }
}

@media (max-width: 950px) {
    .introducao {
        margin: 0px;
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }
   
    .introducao h1 {
        font-size: 2rem;
    }
    
    .introducao h1::before {
        width: 30px;
        height: 10px;
        left: 0px;
        top: -10px;
    }

    .introducao-img {
        justify-self: center;
        width: 380px;
        height: 380px;
    }
}

@media (max-width: 670px) {
    .introducao p {
        margin-top: 10px;
        font-size: 1.1rem;
    }
        
    .introducao-img{
        width: 280px;
        height: 280px;
    }
}

@media (max-width: 570px) {
    .introducao {
        gap: 0px;
    }
    
    .introducao h1{
        font-size: 1.5rem;
    }

    .introducao-img {
        width: 190px;
        height: 190px;
    }
}

@media (max-width:375px) {
    .introducao-img {
        width: 130px;
        height: 130px;
    }
}